{{#do-form team submit=(action 'submitTeam') as |form|}}

  {{form.input-field 'name' controlType='text' label='Name'}}
  {{form.hidden-field 'logo' controlType='text' label='Logo'}}
  Logo {{s3-upload onComplete="imageUploadComplete" label='Logo'}}
  {{form.input-field 'website' controlType='text' label='Website'}}
  {{form.input-field 'address_1' controlType='text' label='Address Line 1'}}
  {{form.input-field 'address_2' controlType='text' label='Address Line 2'}}
  {{form.input-field 'locality' controlType='text' label='City'}}
  {{form.input-field 'region' controlType='text' label='State'}}
  {{form.input-field 'zip' controlType='text' label='Zip'}}


  <select required name="league" onchange={{action "setLeague" value="target.value"}}>
    <option disabled selected> -- Choose League -- </option>
    {{#each leagues as |league|}}
       <option value={{league.id}}>{{league.name}}</option>
    {{/each}}
  </select>


  <button type='submit'>Save</button>
{{/do-form}}
