{{#do-form tryout submit=(action 'submitTryout') as |form|}}

  {{form.input-field 'label' controlType='text' label='Label' hint='e.g. USL East Coast Combine'}}
  {{form.input-field 'startDate' controlType='date' label='Start Date'}}
  {{form.input-field 'endDate' controlType='date' label='End Date'}}
  {{form.input-field 'locality' controlType='text' label='City'}}
  {{form.input-field 'region' controlType='text' label='State'}}
  {{form.input-field 'registration' controlType='text' label='Information URL'}}
  {{form.input-field 'info' controlType='text' label='Registration URL'}}
  {{form.input-field 'fee' controlType='number' label='Fee'}}

    <select required name="team" onchange={{action "setTeam" value="target.value"}}>
      <option disabled selected> -- Choose Team -- </option>
      {{#each teams as |team|}}
         <option value={{team.id}}>{{team.name}}</option>
      {{/each}}
    </select>


  <button type='submit'>Save</button>
{{/do-form}}
